:root {
  /* Menu */
  --main-background-color: #df1818;
  --main-menu-font-color: #fff;
  --hover-color: rgb(172, 169, 162);

  /* Main */
  --main-div-background-color: #262323;
  --main-div-font-color: rgb(219, 219, 218);
  --background-image: url("../Images/gif3.gif");

  /* Footer */
  --footer-background-color: #262323;

  --main-content-width: 80%;
  --main-content-margin: 10%;

  --radius: 1rem;
}

body {
  display: block;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  background-image: var(--background-image);
  background-repeat: repeat;
  color: var(--main-div-font-color);
}

.brand-name {
  background-image: url("../Images/logoV2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-brand {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: auto;
}

#no-hover {
  color: var(--main-menu-font-color);
}

.banner-container {
  background-image: url("../Images/26467404.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: max(35vh, 250px);
  width: 100%;
  position: relative;
}

.active-content {
  color: var(--hover-color);
}

.navbar,
.navbar2 {
  width: 90%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  overflow-x: scroll;
  scrollbar-width: none;
  justify-content: stretch;
  list-style: none;
  background-color: var(--main-background-color);
  margin-left: 5%;
  margin-right: 5%;
}

.navbar {
  z-index: 1;
  border-bottom-right-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

.navbar2 {
  width: var(--main-content-width);
  margin-left: var(--main-content-margin);
  margin-right: var(--main-content-margin);
  padding-bottom: 0.25rem;
  bottom: 0px;
  position: absolute;
  z-index: 1;
  height: 59px;
  border-top-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
}

.sticky {
  position: fixed;
  top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.navbar::-webkit-scrollbar,
.navbar2::-webkit-scrollbar,
.flex-description::-webkit-scrollbar,
.modal-content::-webkit-scrollbar {
  display: none;
}

.navbar-nav,
.navbar-nav2 {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0 0.5%;
  margin: 0;
}

.navbar-nav {
  justify-content: space-between;
}

.navbar-nav2 {
  justify-content: flex-start;
}

.nav-item {
  margin: 0.25rem;
}

.nav-link,
.navbar-brand {
  padding: 1rem;
  margin: 0 0.25em;
  text-align: center;
  color: var(--main-menu-font-color);
  cursor: pointer;
  text-decoration: none;
  display: block;
}
.nav-item:hover,
#make-reservation:hover {
  background-color: var(--hover-color);
  border-radius: var(--radius);
}

main {
  background-color: var(--main-background-color);
  margin-left: var(--main-content-margin);
  margin-right: var(--main-content-margin);
  padding: 0% 2%;
  border: none;
  top: 0;
  position: relative;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
}

.content {
  margin: 0 0 2% 0;
  background-color: var(--main-div-background-color);
  padding: 2%;
  border-radius: var(--radius);
}

.flex-description {
  padding: 0.5rem;
  max-height: 20em;
  overflow-x: scroll;
  scrollbar-width: none;
  display: flex;
  flex-flow: column nowrap;
}

.flex-description h1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}

.flex-description img {
  object-fit: cover;
  width: 100%;
  height: 15vh;
  margin-top: 1rem;
}

.flex-description p {
  margin: 0.5rem;
  text-align: justify;
}

.reservation-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.reservation {
  background-color: var(--main-background-color);
  border-radius: 1em;
  padding: 0.75rem;
  color: var(--main-menu-font-color);
  border: none;
  font: inherit;
}

.reservation:hover,
.reservation-button:hover {
  background-color: var(--hover-color);
}

.reservation-button {
  margin: 0;
  border: 2px solid var(--main-div-background-color);
  background-color: (--main-div-background-color);
  border-radius: 1em;
}

footer {
  margin: 0 var(--main-content-margin);
  padding: 0 2%;
  position: relative;
  top: 0;
  background-color: var(--main-background-color);
  color: var(--main-div-font-color);
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
}

.footer-item {
  padding: 0 2%;
  background-color: var(--footer-background-color);
  border-radius: var(--radius);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer-item p {
  width: 240px;
  margin: 0.5rem;
}

#float {
  clear: both;
  position: fixed;
  width: 65vw;
  height: 1.875rem;
  bottom: 1.25rem;
  left: 97%;
  opacity: 80%;
  background-color: var(--main-div-background-color);
  color: var(--main-menu-font-color);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
  text-align: left;
  box-shadow: 1px 1px 2px #111;
  font-size: 1.2rem;
  padding: 1rem 0;
  padding-left: 0.5rem;
  text-decoration: none;
}

#float:hover {
  left: 40%;
}

.input {
  width: 2rem;
}

#make-reservation {
  background-color: var(--main-div-background-color);
}

.food-menu-list {
  list-style-type: none;
  padding: 0 1rem;
}

.food-menu-item {
  margin: 0.5rem;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-end;
}

.review-list {
  list-style-type: none;
  padding: 0;
}

.review-item {
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border: 1px solid var(--main-div-font-color);
  border-radius: var(--radius);
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: auto 8rem;
}

.review-author {
  grid-column: 1;
  grid-row: 1;
}

.review-rating {
  grid-column: 2;
  grid-row: 1;
}

.review-text {
  grid-column: 1 / span 2;
  grid-row: 2;
}

span.star {
  text-decoration: none;
  color: gold;
}

@media screen and (min-width: 700px) {
  main {
    flex-flow: row;
    flex-wrap: wrap;
    align-content: stretch;
  }
  .content {
    margin: 1%;
    flex-grow: 2;
  }
  .footer-item {
    margin: 0 1%;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  padding-top: 59px;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  overflow-x: scroll;
  overflow-y: scroll;
  border-radius: var(--radius);
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: var(--main-content-width);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: 2px 16px;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

.grid-container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px 100px 100px;
}

.grid-item {
  background-image: url("../Images/carpet1.jpg");
  background-size: cover;
  height: 100px;
  width: 100px;
}

.with-table {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  align-items: center;
  text-align: center;
  height: 70%;
  width: auto;
  background-image: url("../Images/wood.jpg");
  background-size: cover;
  margin: 15%;
  border-radius: var(--radius);
}

.taken-table {
  background-image: none;
  background-color: tomato;
}

.selected-table {
  background-image: none;
  background-color: lawngreen;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
