:root {
  /* Menu */
  --glowny-kolor-tla: #757575;
  --glowny-kolor-czcionki-menu: #fff;
  --hover-kolor-podswietlenia: royalblue;

  /* Main */
  --glowny-kolor-tla-div: #fff;
  --glowny-kolor-czcionki-div: #4a4a4a;
  --gradient-kolor-tla: url("../Images/gif3.gif");

  /* Footer */
  --kolor-tla-footer: #fff;
}

body {
  display: block;
  padding: 0;
  margin: 0;
  font-family: "Montserrat";
  background-image: var(--gradient-kolor-tla);
  background-repeat: repeat;
  color: var(--glowny-kolor-czcionki-div);
}

.brand-name {
  background-image: url("../Images/logoV2.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.nav-brand {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  margin-right: auto;
}

#no-hover {
  color: var(--glowny-kolor-czcionki-menu);
}

.banner-container {
  background-image: url("../Images/26467404.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: max(35vh, 250px);
  width: 100%;
  position: relative;
}

.active-content {
  color: var(--hover-kolor-podswietlenia);
}

.navbar,
.navbar2 {
  width: 90%;
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  overflow-x: scroll;
  scrollbar-width: none;
  justify-content: stretch;
  list-style: none;
  background-color: var(--glowny-kolor-tla);
  margin-left: 5%;
  margin-right: 5%;
}

.navbar {
  z-index: 1;
  border-bottom-right-radius: 1em;
  border-bottom-left-radius: 1em;
}

.navbar2 {
    width: 80%;
    margin-left: 10%;
  margin-right: 10%;
  bottom: 0px;
  position: absolute;
  z-index: 1;
  height: 59px;
  border-top-right-radius: 1em;
  border-top-left-radius: 1em;
}

.sticky {
  position: fixed;
  top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.navbar::-webkit-scrollbar,
.navbar2::-webkit-scrollbar,
.flex-description::-webkit-scrollbar {
  display: none;
}

.navbar-nav,
.navbar-nav2 {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0 0.5%;
  margin: 0;
}

.navbar-nav {
  justify-content: space-between;
}

.navbar-nav2 {
  justify-content: flex-start;
}

.nav-item {
  margin: 0.25rem;
}

.nav-link,
.navbar-brand {
  padding: 1rem;
  margin: 0 0.25em;
  text-align: center;
  color: var(--glowny-kolor-czcionki-menu);
  cursor: pointer;
  text-decoration: none;
  display: block;
}
.nav-item:hover {
  background-color: var(--hover-kolor-podswietlenia);
  border-radius: 1em;
}

main {
  background-color: var(--glowny-kolor-tla);
  margin-left: 10%;
  margin-right: 10%;
  padding: 0% 2%;
  border: none;
  top: 0;
  position: relative;
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
}

.content {
  margin: 0 0 2% 0;
  background-color: var(--glowny-kolor-tla-div);
  padding: 2%;
  border-radius: 1em;
}

.flex-description {
  padding: 0.5rem;
  max-height: 20em;
  overflow-x: scroll;
  scrollbar-width: none;
  display: flex;
  flex-flow: column nowrap;
}

.flex-description h1 {
  font-weight: bold;
  font-size: 1.5rem;
  margin: 0;
}

.flex-description img {
  object-fit: cover;
  width: 100%;
  height: 15vh;
  margin-top: 1rem;
}

.flex-description p {
  margin: 0.5rem;
  text-align: justify;
}

.reservation-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.reservation {
  background-color: var(--glowny-kolor-tla);
  border-radius: 1em;
  padding: 0.75rem;
  color: var(--glowny-kolor-czcionki-menu);
  border: none;
  font:inherit;
}

.reservation:hover{
    background-color: var(--hover-kolor-podswietlenia);
}

footer {
  margin: 0 10%;
  padding: 0 2%;
  position: relative;
  top: 0;
  background-color: var(--glowny-kolor-tla);
  color: var(--glowny-kolor-czcionki-div);
  display: flex;
  flex-flow: column;
  flex-wrap: nowrap;
}

.footer-item {
  padding: 0 2%;
  background-color: var(--kolor-tla-footer);
  border-radius: 1em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer-item p {
    width: 240px;
    margin:  0.5rem;
}

#float {
  position: fixed;
  width: 2.5rem;
  height: 1.875rem;
  bottom: 1.25rem;
  right: 0px;
  opacity: 80%;
  background-color: var(--glowny-kolor-tla-div);
  color: var(--glowny-kolor-czcionki-menu);
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  text-align: center;
  box-shadow: 1px 1px 2px #111;
  font-size: 1.2rem;
  padding: 1rem 0;
  text-decoration: none;
}